.container {
  z-index: 2;
  top: 5%;
  display: flex;
  background-color: transparent;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  img.logo {
    align-self: center;
    cursor: pointer;
    width: 150px;
    background-color: transparent;
  }
}
@media (max-width: 480px) {
  .container img.logo {
    width: 100px;
  }
}
