.container {
  display: flex;
  flex-direction: column;
  width: 49.7%;
  background-color: var(--white-font);
  height: auto;

  img {
    width: 100%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  }
  .infoContainer {
    background-color: var(--bgc-color);
    color: var(--white-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    h2,
    h3 {
      font-size: 1.5em;
      text-transform: uppercase;
    }
  }
}
@media (max-width: 800px) {
  .container {
    .infoContainer {
      h2,
      h3 {
        font-size: 1.1rem;
      }
    }
  }
}
@media (max-width: 480px) {
  .container {
    .infoContainer {
      h2,
      h3 {
        font-size: 0.7rem;
      }
    }
  }
}
