.productDisplay {
  background-color: var(--white-font);
  img.productImg {
    width: 100%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    object-fit: cover;
  }
}

.infoContainer {
  background-color: var(--white-font);
  margin-top: 5%;
  margin-left: 2.5%;
  font-size: 2rem;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.sizeChartContainer {
  display: flex;
  padding: 2.5% 2.5% 0.5% 2.5%;
  justify-content: space-between;
  background-color: var(--white-font);
}

.sizeChartContainer p {
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px 10px;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  cursor: default;
  transition: filter 0.3s;
}

.sizeChartContainer p:nth-child(2):hover {
  filter: blur(2px);
  cursor: pointer;
}

.sizesContainer {
  max-width: 40%;
  display: flex;
  padding-left: 2.5%;
  gap: 2%;
  margin-top: 10px;
}

.sizesContainer button {
  text-decoration: none;
  font-size: 1.3rem;
  background-color: var(--white-font);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  padding: 5px 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 20%;
  min-width: 80px;
  transition: all 0.3s ease;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.sizesContainer button:hover {
  color: black;
  border: 2px solid var(--hover-color);
  background: var(--hover-color);
}

.sizesContainer button:active {
  background-color: black;
  color: var(--white-font);
}

.sizesContainer .active {
  background-color: black;
  color: var(--white-font);
  border: 2px solid black;
}

.addCart {
  position: sticky;
  bottom: 100px;
  text-decoration: none;
  font-size: 1.3rem;
  background-color: var(--white-font);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  padding: 5px 20px;
  border-radius: 20px;
  margin: 20px 2.5%;
  width: 95%;
  transition: 0.3s ease;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.addCart:hover {
  color: black;
  border: 2px solid var(--hover-color);
  background: var(--hover-color);
}

ul {
  margin: 1.5% 2.5%;
  text-transform: uppercase;
  padding-left: 0;
  list-style-type: none;
  padding-bottom: 10px;
}

ul li {
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
}

.error {
  position: sticky;
  bottom: 150px;
  text-align: center;
  color: red;
  font-size: 1.1rem;
  margin-top: 10px;
}
