.cart {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100vh;
  background: var(--white-font);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  padding: 20px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  font-family: inherit;

  h2 {
    font-size: 16px;
    margin-top: 15px;
    align-self: center;
    text-transform: uppercase;
  }
}

.show {
  right: 0;
}

.closeButton {
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  align-self: start;
  font-weight: bold;
  margin-bottom: 10px;
}

.closeButton:hover {
  filter: blur(2px);
  cursor: pointer;
}

.emptyCart {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

.cartList {
  list-style: none;
  padding: 0;
  flex-grow: 1;
  overflow-y: auto;
}

.cartItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.productImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.itemDetails {
  flex-grow: 1;
  p {
    font-size: 0.9rem;
  }
}

.quantityControls {
  span {
    font-size: 0.9rem;
  }
}
button {
  padding: 5px;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.removeButton {
  color: black;

  cursor: pointer;
}

.clearCart {
  width: 100%;
  padding: 10px;
  background: black;
  border-radius: 20px;
  color: var(--white-font);
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}
.clearCart:hover {
  background-color: var(--hover-color);
}

.priceContainer {
  justify-self: end;
  display: flex;
  justify-content: space-between;
}
p {
}
span.price {
  display: inline-block;
  text-align: right;
}

@media (max-width: 480px) {
  .cart {
    width: 300px;
    button {
      font-size: 0.7rem;
    }

    ul.cartList {
      li {
        font-size: 0.7rem;
      }
    }
  }
}
