.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  background-color: var(--bgc-color);
  /* animation-name: home;
  animation-duration: 0.3s;
  animation-iteration-count: infinite; */
  .imgContainer {
    display: flex;
    margin: auto;
    img {
      height: 40%;
      align-self: center;
      margin: auto;
    }
  }
  .btnContainer {
    button {
      text-decoration: none;
      font-size: 1.3rem;
      background-color: transparent;
      color: var(--white-font);
      border: 2px solid var(--white-font);
      padding: 5px 20px;
      border-radius: 20px;
      margin-bottom: 10px;
      width: 20%;
      transition: 0.2s;
      font-weight: bold;
      cursor: pointer;
      min-width: 10rem;
      text-transform: uppercase;
      transition: 0.2s;
    }
    button:hover {
      color: black;
      border: 2px solid var(--hover-color);
      background: var(--hover-color);
    }
  }
}
@keyframes home {
  0% {
    background-color: black;
  }
  50% {
    background-color: var(--white-font);
  }

  100% {
    background-color: black;
  }
}

.containerLookbook {
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-size: cover;
  padding: 30px 30px;
}
.lookbook {
  width: 100vw;
  align-self: end;
  color: var(--white-font);
  font-size: 30px;
}

@media (max-width: 480px) {
  .container .btnContainer button {
    width: 100%;
    font-size: 0.5rem;
    padding: 8px 12px;
  }

  .container {
    padding: 10px;
    gap: 5px;
  }
}
