.container {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 30px 30px;
  animation-name: example;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;

  .imgContainer {
    display: flex;
    margin: auto;
    img {
      height: 40%;
      align-self: center;
      margin: auto;
    }
  }
  .btnContainer {
    button {
      text-decoration: none;
      font-size: 1.3rem;
      background-color: transparent;
      color: white;
      border: 2px solid white;
      padding: 5px 20px;
      border-radius: 20px;
      margin-bottom: 10px;
      width: 20%;
      transition: 0.2s;
      font-weight: bold;
      cursor: pointer;
      min-width: 10rem;
      text-transform: uppercase;
    }
    button:hover {
      color: black;
      border: 2px solid rgb(14, 219, 24);
      background: rgb(14, 219, 24);
    }
  }
}
@keyframes example {
  0% {
    background-color: black;
  }
  50% {
    background-color: rgb(255, 255, 255);
  }

  100% {
    background-color: black;
  }
}
